<div class="font">
    <h2 align="center"><u>New Real Estate</u></h2>
    <br/>
    <form>
        <div align="center" class="form-group">
            <input type="text" class="form-control width-input" id="code-realestate" placeholder="Code">
        </div>
        <div align="center" class="form-group">
            <input type="text" class="form-control width-input" id="state-realestate" placeholder="State">
        </div>
        <div align="center" class="form-group">
            <input type="text" class="form-control width-input" id="city-realestate" placeholder="City">
        </div>
        <div align="center" class="form-group">
            <input type="text" class="form-control width-input" id="street-realestate" placeholder="Street">
        </div>
        <div align="center" class="form-group">
            <input type="text" class="form-control width-input" id="zip-realestate" placeholder="Zip">
        </div>
        <div class="form-group">
            <div align="center">
                <button type="submit" class="btn btn-default btn-sm">Finish</button>
                <button type="submit" class="btn btn-default btn-sm">Add</button>
                <button type="submit" class="btn btn-default btn-sm">Cancel</button>
            </div>
        </div>
    </form>
</div>
